<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet/less" type="text/css" href="/Content/MySyte.less" />
</head>
<body>
<div class="container bg-primary">
    <div class="row">
        <div class="col-sm-9">
            <h1>Mfp Store</h1>
        </div>
        <div class="col-sm-3">
            <h5>My Profile</h5>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        @Html.Partial("_TopMenu")
    </div>
    <div class="row">
        @RenderBody()
    </div>
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Mfp Store</p>
    </footer>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
