@using MfpStore.Web.App_LocalResources
@using MfpStore.Web.App_LocalResources.Products
@model IEnumerable<MfpStore.Web.Models.DeviceViewModel>

<table>
    <tr>
        <th>
            @ProductsRes.Title
        </th>
        <th>
            @ProductsRes.Price
        </th>
        <th>
            @ProductsRes.Description
        </th>
        <th>
            @Html.ActionLink(GlobalRes.Add, "Add")
        </th>
    </tr>
    @foreach (var device in Model)
    {
    <tr>
        <td>
            @device.Title
        </td>
        <td>
            @device.Price
        </td>
        <td>
            @device.Description
        </td>
        <td>
            @Html.ActionLink(GlobalRes.Update, "Update", new { id = device.Id })
        </td>
        <td>
            @Html.ActionLink(GlobalRes.Delete, "Delete", new { id = device.Id })
        </td>
    </tr>
    }
</table>

<style>
    td,th {
        padding: 10px;
    }
</style>
