@model IEnumerable<MfpStore.Web.Models.DeviceViewModel>

<table>
    <tr>
        <th>
            Title
        </th>
        <th>
            Price
        </th>
        <th>
            Description
        </th>
        <th>
            @Html.ActionLink("Add", "Add")
        </th>
    </tr>
    @foreach (var device in Model)
    {
    <tr>
        <td>
            @device.Title
        </td>
        <td>
            @device.Price
        </td>
        <td>
            @device.Description
        </td>
        <td>
            @Html.ActionLink("Update", "Update", new { id = device.Id })
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = device.Id })
        </td>
    </tr>
    }
</table>

<style>
    td,th {
        padding: 10px;
    }
</style>
